# Template for Linux Mint
# don't change the following variables:
# GUIFLAVOR, ARCH, KERNELFILE, INITRDFILE, NFSROOT, ISOVERSION
# and only change something if you know what you do
#

MENU BEGIN linuxmint-ISOVERSION-GUIFLAVOR-ARCH
MENU TITLE Linux Mint ISOVERSION GUIFLAVOR ARCH

LABEL previous
	MENU LABEL back to menu
	MENU EXIT
	MENU SEPARATOR

LABEL live
	MENU LABEL Start Linux Mint
	KERNEL KERNELFILE
	APPEND root=/dev/nfs boot=casper netboot=nfs nfsroot=NFSROOT initrd=INITRDFILE --
	MENU DEFAULT
LABEL xforcevesa
	MENU LABEL Start in compatibility mode
	KERNEL KERNELFILE
	APPEND root=/dev/nfs nfsroot=NFSROOT netboot=nfs boot=casper xforcevesa nomodeset b43.blacklist=yes initrd=INITRDFILE root=/dev/ram rw noapic noacpi nosplash irqpoll --
LABEL forcepaeoption
	MENU label Start with PAE forced
	KERNEL KERNELFILE
	APPEND  root=/dev/nfs boot=casper netboot=nfs nfsroot=NFSROOT initrd=INITRDFILE -- forcepae
LABEL oem
	MENU LABEL OEM install (for manufacturers)
	KERNEL KERNELFILE
	APPEND  root=/dev/nfs boot=casper netboot=nfs nfsroot=NFSROOT initrd=INITRDFILE oem-config/enable=true only-ubiquity --

MENU END
